.add-goods-list {
  @include list-reset;
}

.add-goods-list__item {
  display: grid;
  grid-row-gap: 15px;
  border-top: 1px solid $special_gray-2;
  border-bottom: 1px solid $special_gray-2;
  padding-top: 13px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 25px;
    padding: 26px 38px 28px;
    border-color: $special_gray;
    border-top: none;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

.add-goods-list__info {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    align-items: center;
    margin-right: 40px;
  }
}

.add-goods-list__header {
  @include font(16px, 1);
  @include uppercase;
  color: $black;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.add-goods-list__details .item-details__inner-wrap {
  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    grid-column-gap: 51px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    justify-content: space-between;
    align-items: center;
  }
}

.add-goods-list__details .item-details__title {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-goods-list__details .item-details__data {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-goods-list__order-button {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
