.add-goods-list {
  @include list-reset;
}

.add-goods-list__item {
  display: grid;
  border-top: 1px solid $special_gray-2;
  border-bottom: 1px solid $special_gray-2;
  padding-top: 13px;
  padding-bottom: 19px;
}

.add-goods-list__header {
  margin-bottom: 13px;
}

.add-goods-list__details .item-details__title,
.add-goods-list__details .item-details__data {
  font-size: 14px;
}

.add-goods-list__order-button {
  margin-top: 15px;
}
