.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  background-color: $basic_green;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $basic_green-2;
  }

  &:active {
    color: $transparent-white;
  }
}

.button--show-more {
  background-color: $basic_gray;
  color: $special_dark-gray;

  &:hover,
  &:focus {
    background-color: $special_gray-2;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
