.cat-slider {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 650px;
    padding-bottom: 0;
    margin-right: -7px;
  }
}

.cat-slider__list {
  @include list-reset;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.cat-slider__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.cat-slider__current {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
