.catalog__inner {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog__header {
  color: $black;
  padding: 0 20px;
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 3px;
    margin-bottom: 83px;
  }
}

.catalog__items {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}

.catalog__item {
  border-top: 1px solid $special_gray-2;
  padding: 19px 20px 25px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
  }
}
