.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $special_dark-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  @include font(16px, 18px);
  font-family: $arial;
}

.copyright__link {
  color: $special_gray-3;

  &:hover,
  &:focus {
    color: $basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
  line-height: 34px;
}
