.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $special_dark-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  @include font(16px, 18px);
  font-family: $arial;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
    margin-bottom: 5px;
  }
}

.copyright__link {
  display: block;
  cursor: pointer;
}

.copyright__logo {
  fill: $special-gray-3;
  width: 42px;
  height: 42px;
  margin-right: -8px;

  @media (min-width: $tablet-width) {
    &:hover,
    &:focus {
      fill: $basic_green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
