.goods-item {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    background-color: $basic_gray;
    padding: 0 36px 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    padding-right: 30px;
  }
}

.goods-item__image-wrapper {
  width: 50%;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
  }
}

.goods-item__image {
  height: 100%;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
  }
}

.goods-item__link {
  display: flex;
  margin-right: 60px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-top: 34px;
    margin-right: 0;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
  }
}

.goods-item__header {
  @include font(16px, 20px);
  @include uppercase;
  color: $black;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 24px);
    text-align: center;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.goods-item__info {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.goods-item__order-button {
  width: 100%;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin-top: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
