.heading {
  @include font(36px, 36px);
  font-weight: normal;
  margin: 0;
}

.heading--programs {
  @include font(24px, 37px);
  @include uppercase;
  color: $black;
}

.heading--h-ex {
  line-height: 40px;
  color: $black;
}

.heading--invite {
  @include font(16px, 18px);
  @include uppercase;
  color: #111111;
}

.heading--item {
  @include font(16px, 20px);
  @include uppercase;
  color: $black;
}

.heading--additional {
  @include font(24px, 24px);
  color: $black;
}

.heading--add-item {
  @include font(16px, 16px);
  @include uppercase;
  color: $black;
}
