.item-details {
  display: grid;

  @include font(12px, 16px);
  font-family: $arial;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font(16px, 1);
    grid-gap: 8px;
    padding-left: 37px;
    padding-right: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    padding-right: 41px;
  }
}

.item-details--add-goods {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.item-details__inner-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_gray;
    padding-bottom: 7px;
  }
}

.item-details__inner-wrap--add-goods {
  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    grid-column-gap: 51px;
    padding: 0;
    padding-top: 3px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
}

.item-details__title {
  margin: 0;
}

.item-details__title--add-goods {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.item-details__data {
  text-align: right;
  margin: 0;
}

.item-details__data--add-goods {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
