.main-nav {
  width: auto;
  padding: 0;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 23px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  border-bottom: 1px solid $border_gray-2;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 24px;
  height: 1.5px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 1.5px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
