.meal-program {
  position: relative;
  background-color: $basic-gray;
  padding: 30px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 279px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
  }
}

.meal-program__header {
  padding-left: 71px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.meal-program__text {
  font-family: $arial;
  padding-bottom: 25px;
  border-bottom: 1px solid $border_gray-2;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.meal-program__icon::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic_green;

  @media (min-width: $tablet-width) {
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.meal-program__link {
  display: block;

  @include font(16px, 16px);
  @include uppercase;
  color: $black;
  margin-top: 19px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
  }
}
