.meal-program {
  position: relative;
  background-color: $basic-gray;
  padding: 30px 33px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 279px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
  }
}

.meal-program__header {
  padding-left: 71px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.meal-program__text {
  font-family: $arial;
  padding-bottom: 25px;
  border-bottom: 1px solid $border_gray-2;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.meal-program__icon {
  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic_green;

    @media (min-width: $tablet-width) {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
  }
}

.meal-program__icon--loosing::after {
  width: 36px;
  height: 50px;
  background-image: url("/img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 18px;
  left: 29px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 192px;
    top: 81px;
    left: auto;
    right: 92px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    right: auto;
  }
}

.meal-program__icon--gaining::after {
  width: 67px;
  height: 28px;
  background-image: url("/img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 35px;
  left: 13px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
    right: auto;
  }
}

.meal-program__link {
  display: block;

  @include font(16px, 16px);
  @include uppercase;
  color: $black;
  margin-top: 19px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
  }
  //
  //&::after {
  //  content: "";
  //  width: 32px;
  //  height: 10px;
  //  background-image: ;
  //}
}
