.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  color: $special_dark-gray;
  font-family: $oswald;
  margin: 0;

  @include font (14px, 18px);

  @media (min-width: $tablet-width) {
    @include font (16px, 24px);
  }
}
