.page-header {
  position: relative;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    padding-bottom: 32px;
  }
}

.page-header--form {
  @media (max-width: $mobile-width-only) {
    padding-top: 4px;
  }
}

.page-header__inner {
  padding: 0;
  border-bottom: 1px solid $border_gray;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-header__inner--index {
  border-bottom: none;
}

.page-header__logo {
  display: block;
  padding-left: 20px;
  padding-bottom: 16px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 0;
  }

  & img {
    display: block;

    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  &:hover:not(.page-header__logo--current),
  &:focus:not(.page-header__logo--current) {
    opacity: 0.8;
  }

  &:active:not(.page-header__logo--current) {
    opacity: 0.6;
  }
}
