.statistics-list__main-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.statistics-list__wrap {
  width: 50%;
  text-align: center;
  border: 1px solid $special_gray;
  padding-top: 15px;
  border-radius: 3px;
}

.statistics-list__wrap:first-child {
  margin-right: 31px;
}

.statistics-list__number {
  @include font(24px, 24px);
  @include uppercase;
  color: $black;
  padding: 0;
  margin: 0;
  //margin-bottom: 14px;
}

.statistics-list__description {
  position: relative;
  top: 10px;
  max-width: 87px;
  display: inline-flex;

  @include font(12px, 12px);
  font-family: $arial;
  background-color: $background-gray;
  padding: 0 15px;
  margin: 0;
}

.statistics-list__money-total {
  display: flex;
  justify-content: center;

  @include font(14px, 20px);
  @include uppercase;
  text-align: center;
  color: $black;
}

.statistics-list__money-number {
  margin: 0;
}
