.statistics-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    max-width: 370px;
  }
}


.statistics-list__wrap {
  width: 124px;
  text-align: center;
  border: 1px solid $special_gray;
  padding-top: 14px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.statistics-list__wrap:first-child {
  margin-right: 31px;

  @media (min-width: $tablet-width) {
    margin-right: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 42px;
  }
}

.statistics-list__wrap:last-child {
  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }
}

.statistics-list__number {
  @include font(24px, 1);
  @include uppercase;
  color: $black;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font(30px, 37px);
    padding-bottom: 19px;
  }
}

.statistics-list__description {
  position: absolute;
  top: 46px;
  left: 17px;
  max-width: 87px;
  display: inline-flex;

  @include font(12px, 1);
  font-family: $arial;
  background-color: $background-gray;
  padding: 0 15px;
  margin: 0;

  @media (min-width: $tablet-width) {
    top: 62px;
    left: 6px;
    background-color: $white;
    padding: 0 10px;
    min-width: 150px;

    @include font(14px, 1);

    .statistics-list__wrap:first-child & {
      min-width: 120px;
      left: 21px;
    }

    .statistics-list__wrap:last-child & {
      min-width: 142px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $basic_gray;
  }
}

.statistics-list__money-total {
  display: flex;
  justify-content: center;
  width: 100%;

  @include font(14px, 20px);
  @include uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: auto;
    margin-left: auto;

    @include font(20px, 1);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0;
  }
}

.statistics-list__money-description {
  @media (min-width: $tablet-width) {
    margin-right: -4px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 59px;
  }
}

.statistics-list__money-number {
  margin: 0;
}
